


<h1>Classic Movie Queue</h1>

<% if false %>
<%= link_to 'My Queue', movies_path(:queue => "user") %> | 
<%= link_to 'Combined Queue', movies_path %>
<% end %>

<table>
  <tr>
    <th>Rank</th>
    <th>Total Score</th>
    <th>Title</th>
    <th>Nominator</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each_with_index do |movie, rank| %>
  <tr>
    <td><%= rank + 1 %></td>
    <td><%= movie.score %></td>
    <td><%= movie.title %></td>
    <td><%= movie.nominated_by_user.name %></td>
    <td><%= movie.url %></td>
    <td class="ratings" id="ratings_for_<%=movie.id%>">
	<% if current_user %>
		<%= render "rankings/rating_choices", :movie => movie %>
	<% end %>
    </td>

<% if false %>    
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a Movie', new_movie_path %>
